* {
  margin: 0;
  padding: 0;
  font-family: "poppins";
}
.flex {
  display: flex;
}

.grid {
  display: grid;
  margin-top: 300px;
}

.col-2 {
  grid-template-columns: 1fr 1fr;
  padding: 50px;
}
h3 {
  font-size: 32px;
}
h5 {
  padding: 25px 0;
  font-size: 24px;
  color: gray;
  text-transform: capitalize;
}

input {
  display: inline-block;
  padding: 0 40px;
  border-left: 1px solid black;
  border: none
}

.car {
  width: 80%;
  height: auto;
  margin: 0 auto;
}
.select {
  padding-left: 100px;
}

.selectVehicle {
  position: relative;
}

.selectVehicle img {
  padding: 10px;
  width: 30px;
  
}
.targa{ 
  border: 1px solid #c7c2c27a;
  display: flex;
  width: 80%;
  border-radius: 15px;
}
.list {
  display: flex;
  flex-direction: column;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: -65px;
  left: -5px;
}

.list-item {
  border: none;
  background-image: linear-gradient(to right bottom,#11A5E6,#02336E);
  padding: 5px;
  margin: 5px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  background-image: linear-gradient(to right bottom,#11A5E6,#02336E);
  width: 100%;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
  justify-content: center;
  border: none;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
